* {  margin: 0;  padding: 0;  box-sizing: border-box;  }

html,
body {
	height: 100%;
	/* FONT SIZE NEEDS TO CHANGE FOR MOBILE */
	font-size: 1.5vw;
}

body {
	background: #330505;
	font-family: 'times new roman', serif;

}

main {
	display: grid;
	/* GRID NEEDS TO CHANGE FOR MOBILE */
	grid-template-columns: 1fr 1fr;
	/* WIDTH NEEDS TO CHANGE FOR MOBILE */
	width: 60%;
		margin: 0 auto;
}

header {
	background: rgba(0,0,0,1);
	padding: 3rem calc(20% + 2rem) 2rem calc(20% + 2rem);
	margin: 0 auto 2rem auto;
	width: 100%;
}

header h1 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

header a {
	color: rgba(255,160,110,0.8);
	text-decoration: none;
	transition: all 0.3s;
}

header a:hover {
	color: yellow;
}

header h2 {
	color: rgba(255,110,90,0.5);
	font-size: 1.5rem;
}

section {
	padding: 2rem;
	line-height: 1.6;
}

section h3 {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

section a {
	color: rgba(255,0,0,0.4);
	transition: all 0.3s;
}

section a:hover {
	color: rgba(255,0,0,0.6);
}

a.big {
	color: black;
	text-decoration: none;
	transition: transform 0.3s;
}

a.big:hover {
	transform: scale(1.1);
}

.left {
	grid-column: 1;
}

.right {
	grid-column: 2;
}

.special {
	background: purple;
	transition: all 0.3s;
	max-height: 12rem;
	overflow: hidden;
}


.special:hover {
	background: rgba(255,0,0,0.6);
}


.post-excerpt {
}

a.post-link {
	grid-column: 1 / span 2;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	transition: all 0.3s;
		margin-top: 2rem;
		border: 1px solid black;
}

a.post-link:hover {
	color: black;
	transform: scale(1.1);
}


textarea {
	background: none;
	border: 1px solid black;
	margin: 1rem;
	padding: 1rem;
}


footer {
	background: black;
	color: yellow;
	width: 100%;
	padding: 1rem calc(20% + 2rem) 2rem calc(20% + 2rem);
	margin-top: 2rem;
}